/* ======= GOOGLE FONTS ======= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ======= BASE ======= */
* {
	font-family: "Poppins";
	scroll-behavior: smooth;
}

.home__img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 300px;
	z-index: 10;
	height: 300px;
	box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
	order: 1;
	justify-self: center;
	animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
}

@media (max-width: 767px) {
	.home__img {
		width: 260px;
		height: 260px;
	}
}
