@import "tailwindcss";

@theme {
	--color-l-primary: #121212;
	--color-l-secondary: #161a1d90;
	--color-d-primary: #fff;
	--color-d-secondary: #adb5bd;

	/* /* --color-gray-d: #333333; */
	/* --color-gray-l: #adb5b2; */
	/* --color-gray-l: #161a1d70; */
	/* --color-black: #0b090a; */
	/* --color-gray-dd: #161a1d;  */

	--animate-scroll: scroll 2s ease infinite;
	@keyframes scroll {
		0% {
			transform: translateY(0);
		}

		30% {
			transform: translateY(3.75rem);
		}
	}
}
